<section class="navbar-page">

    
<mat-toolbar  class="navbar-flex main-navbar">

    <div class="nav-item-one">
    <h4 class="my-name">Shubham Pandey</h4>
    <h6 class="my-role"> Full stack Engineer</h6>

    </div>

    <span class="example-spacer"></span>


    <div class="nav-item-two m-3">
       <button mat-stroked-button class="nav-btn"   color="accent" routerLink="/about" routerLinkActive="nav-active"> My self</button>

       <button mat-stroked-button class="nav-btn" routerLink="/skills"  color="accent" routerLinkActive="nav-active"> Skills</button>

      <button mat-stroked-button  class="nav-btn" routerLink="/work"  color="accent" routerLinkActive="nav-active">Work</button>


</div>

  </mat-toolbar>

  </section>

  <hr >
  