<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<section class="contact-comp">
     <h4 class="contact-head">Connect with me at </h4>
    <div class="contact-box d-flex">
     
    <a href="tel:8433279172"><button class="contact-btn" mat-raised-button  color="primary"><span class="material-icons">
        phone
        </span></button></a>

    <a href="mailto:shubhampnd414@gmail.com"><button class="contact-btn" mat-raised-button  color="primary"><span class="material-icons">
        alternate_email
        </span></button>
      
    </a>
              

    <a href="https://www.linkedin.com/in/shubhampnd/"><button class="contact-btn linkedin-icon" mat-raised-button color="primary">in<span class="material-icons">
        
        </span></button></a>
</div>


</section>