<section>
<div class="home-motto">
  <h4>Learning and Implementing</h4>
</div>

<mat-card class="example-card">

  
    <div class="home-intro d-flex">
    <div class="home-intro-img m-2">
    <img mat-card-image class="home-intro-img" src="../../../assets//myPic.jpeg"   alt="Photo of a Shiba Inu">
   </div>

   <div class=" col-6">
    <mat-card-content>

      <p class="home-intro-cont">
        I am individual who believes in living in present , presently working as a Associate Engineer at Nagarro . Loves to build full stack application and always intrested in talking/sharing ideas in web technologies.
        My motto to live life is Learning and Implementing.
        I in my spare time I enjoy cycling , playing games with my friends , learning new technology and watching my favorite cartoon show(shinchan).
      </p>
    </mat-card-content>
    
    <!-- contact component-->
    <div class="contact">

    <app-contact>
      
    </app-contact>
    </div>
    </div>
    

    </div>
  </mat-card>

<div class="cycle-ani">
</div>
  </section>

