.home-intro-img{
    width:300px;
    height:300px;
    border-radius: 22%;
    object-fit: cover;

}

.home-intro{

    margin-top: 2.5rem !important;
border-radius: 12px;
box-shadow: 0 0 8px silver;    
justify-content: space-evenly;

}

.d-flex{
    display: flex;
}


.home-intro-img:before{
    content: "Hi ,there";
    text-align: center;
    height:20px;
    width:90px;
    transform: rotate(-35deg);
    top: 4rem;
    letter-spacing: 3px;
    left: -.4rem;
    color:#FFF;
    position: absolute;
    padding: .7rem;
    font-weight: bolder;
    border-radius: 20px;
    background-color:var(--pri-bg);

}
.home-intro-cont{
    
   position: relative;
   top:-2.5rem; 
   line-height: 2.3rem;

    font-weight: bolder;
    word-break: break-all;
    word-wrap: break-word;
    font-family:  Helvetica, sans-serif;
}


.home-intro-cont{
color:#FFF;
border-radius: 12px;
font-size: 1rem;
padding: 1.2rem;
background-color: var(--pri-bg);
}


.home-motto{
    text-align: center;
    margin:1rem 0 1rem 0;
    padding: .6rem;
    background-color: var(--pri-bg);
}
.home-motto h4{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 120px;
    
}



.cycle-ani img{
transform: rotateX(-45deg);
object-fit: cover;
}
.cycle-ani{

}
